@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@400..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}

/* ROOT COLORS */
:root {
  --black: #000;
  --white: #fff;
  --gray:  #D9D9D9;
  --ash: #6D7175;
  --primary-orange: #AA8453;
  --secondary-orange: #52412e;
  --secondary-background: rgba(170, 132, 83, 0.1);
  --dark: #12171f;
}

a, h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

.admin-mobile-navbar {
    display: none; 
}

/* USER ADMIN SIDEBAR */
.user-admin {
    width: 100%;
    position: relative;
    padding-left: 250px;

}
.admin-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    overflow-y: scroll;
    background-color: var(--dark);
    color: var(--white);
    padding-bottom: 30px;
}
.admin-sidebar::-webkit-scrollbar {
    display: none;
    width: 0;
}
.admin-sidebar .logo {
    padding: 20px;
}
.admin-sidebar ul {
    width: 100%;
    margin-top: 10px;
    list-style-type: none;
    padding: 0px;
}
.admin-sidebar ul li {
    width: 100%;
    padding: 5px 20px;
    font-family: 'Sen', sans-serif;
    line-height: 25px;
    font-size: 15px;
    color: var(--white);
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}
.admin-sidebar ul li:not(:has(a)) {
    margin-top: 15px;
}
.admin-sidebar ul li.active {
    background-color: var(--secondary-orange);
    border-left: solid 3px var(--primary-orange);
}
.admin-sidebar ul li a {
    width: 100%;
    font-size: 13px;
    color: var(--white);
}
.admin-content {
    /* flex-grow: 1; */
    background-color: var(--secondary-background);
}
.admin-content .admin-navbar {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    border-bottom: solid 1px var(--gray);
}
.admin-content .admin-navbar h6 {
    font-family: 'Sen', sans-serif;
    line-height: 25px;
    font-size: 15px;
    color: var(--black);
}
.admin-content .admin-navbar .earning {
    color: var(--primary-orange);
}
.admin-content .admin-navbar .nav-icons, 
.admin-content .earning-profile {
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.admin-content .admin-navbar .nav-icons img {
    width: 20px;
    height: 20px;
    position: relative;
}
.admin-content .admin-navbar .nav-icons .icon-wrapper {
    position: relative;
    z-index: 1;
}
.admin-content .admin-navbar .nav-icons .badge {
    position: absolute;
    top: -12px;
    right: -15px;
    background-color: var(--primary-orange);
    color: var(--white);
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 10px;
    z-index: 2;
}
.admin-content .earning-profile .user-profile {
    margin-left: 50px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.admin-content .earning-profile .user-profile img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

/* DASHBOARD PAGE */
.dashboard-page {
    width: 100%;
    height: fit-content;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.dashboard-page h1 {
    font-size: 24px;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    color: var(--black);
}
.dashboard-page .key-metrics {
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}
.dashboard-page .key-metrics .metrics-box {
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border: solid 1px var(--gray);
    border-radius: 5px;
}
.dashboard-page .key-metrics .metrics-box img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
}
.dashboard-page .key-metrics .metrics-box h5 {
    font-size: 24px;
    font-family: 'Sen', sans-serif;
    font-weight: 500;
    color: var(--black);
}
.dashboard-page .key-metrics .metrics-box p {
    font-family: 'Sen', sans-serif;
    line-height: 25px;
    font-size: 15px;
    color: var(--black);
    word-wrap: break-word;
}

/* DASHBOARD GRAPH */
.dashboard-graph {
    width: 100%;
    padding: 50px;
    margin-top: 20px;
    background-color: var(--white);
    border: solid 1px var(--gray);
    border-radius: 5px;
}
.dashboard-graph {
    position: relative;
    width: 100%;
    z-index: 1;
}
.graph-container {
    width: 100%;
    height: 400px;
}
.dashboard-graph button {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 15px;
    line-height: 45px;
    border: none;
    border-radius: 5px;
    padding: 0 25px;
    color: var(--white);
    border: solid 1px var(--primary-orange);
    background-color: var(--primary-orange);
    transition: color 0.3s, background-color 0.3s ease-in-out;
}
.contact-form button:hover {
    background-color: var(--white);
    color: var(--primary-orange);
}

/* CREATE LISTING PAGE */
.admin-create-listing {
    width: 100%;
    height: fit-content;
    padding: 50px;
}
/* LISTING FORM */
.listing-form {
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    padding: 50px;
    background-color: var(--white);
    border: solid 1px var(--gray);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.listing-form label:nth-of-type(1),
.listing-form label:nth-of-type(2),  
.listing-form label:nth-of-type(11) { 
    grid-column: 1 / -1;
}
.listing-form h2 {
    width: 100%;
    font-size: 20px;
    font-family: 'Sen', sans-serif;
    color: var(--black);
    grid-column: 1 / -1;
}
.listing-form label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Barlow', sans-serif;
    line-height: 25px;
    font-size: 15px;
    color: var(--black); 
}
.listing-form label input, 
.listing-form label textarea {
    width: 100%;
    padding: 10px;
    border: solid 1px var(--gray);
    border-radius: 5px;
    font-family: 'Sen', sans-serif;
    line-height: 25px;
    font-size: 15px;
    color: var(--black);
}
.listing-form label .select {
    width: 100%;
    border: solid 1px var(--gray);
    border-radius: 5px;
    font-family: 'Sen', sans-serif;
    line-height: 25px;
    font-size: 15px;
    color: var(--black);
}
.listing-form .custom-select__control {
    background: var(--white);
    border-radius: 5px;
    border: none !important;
    outline: none !important;
    box-shadow: none;
    text-transform: capitalize;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    line-height: 30px;
    font-weight: 400;
    cursor: pointer;
    z-index: 1 !important;
}
.listing-form .custom-select__control--is-focused {
    border-color: var(--white) !important;
    box-shadow: none;
}
.listing-form .custom-select__menu {
    border-radius: 5px;
    margin-top: 0;
    z-index: 3 !important;
}
.listing-form .custom-select__menu-list {
    padding: 0;
}
.listing-form .custom-select__option {
    background-color: var(white);
    color: var(--black);
    text-transform: capitalize;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    line-height: 30px;
    font-weight: 400;
    cursor: pointer;
}
.listing-form .custom-select__option:hover {
    background-color: var(--secondary-orange);
}
.listing-form .custom-select__option--is-selected {
    background-color: var(--primary-orange) !important;
    color: var(--white);
    text-transform: capitalize;
}
.listing-form .custom-select__option--is-focused {
    background-color: var(--primary-orange) !important;
    opacity: 0.7;
    color: var(--white) !important;
    outline: none !important;
}
.listing-form .custom-select__indicator-separator {
    display: none;
}
.listing-form button {
    font-weight: 500;
    font-size: 15px;
    line-height: 45px;
    border: none;
    border-radius: 5px;
    padding: 0 25px;
    color: var(--white);
    border: solid 1px var(--primary-orange);
    background-color: var(--primary-orange);
    transition: color 0.3s, background-color 0.3s ease-in-out;
    cursor: pointer;
}
.listing-form button:hover {
    background-color: var(--white);
    color: var(--primary-orange);
}
/* LISTING MEDIA UPLOAD */
.listing-media-section {
    margin-top: 30px;
    width: 100%;
    height: fit-content;
    padding: 50px;
    background-color: var(--white);
    border: solid 1px var(--gray);
    border-radius: 5px;
}
.listing-media-section h2 {
    font-size: 20px;
    font-family: 'Sen', sans-serif;
    color: var(--black);
}
.listing-media-section p {
    font-family: 'Barlow', sans-serif;
    line-height: 25px;
    font-size: 15px;
    color: var(--black);
}
.listing-media-section .media-input {
    margin-top: 30px;
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-self: flex-start;
    align-items: flex-start;
}
.listing-media-section .dropzone {
    width: 100%;
    height: 300px;
    border: 2px dashed var(--primary-orange);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.listing-media-section .dropzone p {
    margin: 0;
    font-size: 16px;
    color: var(--secondary-orange);
}
.listing-media-section .dropzone input {
    display: none;
}
.listing-media-section .image-preview {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    gap: 10px;
    overflow-x: auto; 
    overflow-y: hidden;
    transition: height 0.3s ease;
}
.listing-media-section .image-preview.empty {
    height: 0; 
    overflow: hidden;
}
.listing-media-section .image-preview::-webkit-scrollbar {
    height: 5px; 
}
.listing-media-section .image-preview::-webkit-scrollbar-thumb {
    background-color: var(--ash); 
}
.listing-media-section .image-preview .image-container {
    width: 220px;
    height: 200px;
    position: relative;
    flex-shrink: 0; 
}
.listing-media-section .image-preview .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.listing-media-section .image-preview .image-container .delete-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: red;
    border: none;
    font-size: 15px;
    color: var(--white);
    cursor: pointer;
    z-index: 10;
}
.listing-media-section .image-preview .image-container .delete-button:hover {
    background-color: rgba(255, 0, 0, 0.8); 
}
.listing-media-section .save-media {
    font-weight: 500;
    font-size: 15px;
    line-height: 45px;
    border: none;
    border-radius: 5px;
    padding: 0 25px;
    color: var(--white);
    border: solid 1px var(--primary-orange);
    background-color: var(--primary-orange);
    transition: color 0.3s, background-color 0.3s ease-in-out;
    cursor: pointer;
}
.listing-media-section .save-media:hover {
    background-color: var(--white);
    color: var(--primary-orange);
}

/* MY PROPERTIES PAGE */
.admin-properties {
    width: 100%;
    height: fit-content;
    padding: 50px;
}
.admin-properties h1 {
    font-size: 24px;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    color: var(--black);
}
.listed-properties {
    margin-top: 30px;
    width: 100%;
    height: fit-content;
    background-color: var(--white);
    border-radius: 5px;
    border: solid 1px var(--gray);
}
.listed-properties table {
    padding: 20px;
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
}
.listed-properties th, 
.listed-properties td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--gray);
}
.listed-properties th {
    padding: 20px 10px;
    font-size: 18px;
    font-family: 'Sen', sans-serif;
    font-weight: 500;
    color: var(--black);
}
.listed-properties button {
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 18px;
    margin: auto 10px;
}
.listed-properties button:first-of-type {
    color: var(--primary-orange);
}
.listed-properties button:last-of-type {
    color: red;
}
.listed-properties .listed-property-card {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.listed-properties .listed-property-card img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}
.listed-properties .listed-property-card h4 {
    font-size: 18px;
    font-family: 'Sen', sans-serif;
    font-weight: 500;
    color: var(--black);
}
.listed-properties .listed-property-card .property-icon {
    margin: 5px auto;
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: 'Sen', sans-serif;
    line-height: 25px;
    font-size: 15px;
    color: var(--black);
}
.listed-properties .listed-property-card .property-icon svg {
    color: var(--primary-orange);
    font-size: 18px;
}
.listed-properties .listed-property-card p {
    font-family: 'Sen', sans-serif;
    line-height: 25px;
    font-size: 15px;
    color: var(--primary-orange);
}

/* LISTED PROPERTIES MODALS */
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.delete-modal {
    width: 50%;
    background-color: var(--white);
    border: solid 1px var(--gray);
    border-radius: 5px;
    padding: 20px;
}
.delete-modal h2 {
    font-size: 20px;
    font-family: 'Sen', sans-serif;
    color: var(--black);
    margin-bottom: 10px;
}
.delete-modal p {
    font-family: 'Sen', sans-serif;
    line-height: 25px;
    font-size: 15px;
}
.delete-modal .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.delete-modal .modal-buttons button {
    font-weight: 500;
    font-size: 15px;
    line-height: 45px;
    border: none;
    border-radius: 5px;
    padding: 0 25px;
    color: var(--white);
    opacity: 1;
    transition: color 0.3s, opacity 0.3s, background-color 0.3s ease-in-out;
    cursor: pointer;
}
.delete-modal .modal-buttons button:hover {
    opacity: 0.8;
}
.delete-modal .modal-buttons button:nth-of-type(1) {
    background-color: red;
}
.delete-modal .modal-buttons button:nth-of-type(2) {
    background-color: var(--primary-orange);
}
/* EDIT MODAL */
.edit-modal {
    min-width: 70%;
    background-color: var(--white);
    border: solid 1px var(--gray);
    border-radius: 5px;
    padding: 20px;
}
.edit-modal .edit-modal-container {
    width: 100%;
    height: 80vh;
    overflow-y: scroll; 
    padding-right: 10px;
}
.edit-modal h2 {
    font-size: 20px;
    font-family: 'Sen', sans-serif;
    color: var(--black);
    margin-bottom: 10px;
}
.edit-modal p {
    font-family: 'Sen', sans-serif;
    line-height: 25px;
    font-size: 15px;
}
.edit-modal .modal-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.edit-modal .modal-buttons button {
    font-weight: 500;
    font-size: 15px;
    line-height: 45px;
    border: none;
    border-radius: 5px;
    padding: 0 25px;
    color: var(--white);
    opacity: 1;
    transition: color 0.3s, opacity 0.3s, background-color 0.3s ease-in-out;
    cursor: pointer;
}
.edit-modal .modal-buttons button:hover {
    opacity: 0.8;
}
.edit-modal .modal-buttons button:nth-of-type(2) {
    color: var(--primary-orange);
    background-color: var(--white);
    border: solid 1px var(--primary-orange);
}
.edit-modal .modal-buttons button:nth-of-type(1) {
    background-color: var(--primary-orange);
}
.edit-modal .edit-form  {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.edit-modal .listing-form {
    padding: 20px;
    padding-bottom: 150px;
}
.edit-modal .listing-form label textarea {
    min-height: 150px;
}
.edit-modal .listing-form .modal-buttons {
    grid-column: 1 / -1;
}


/* * {
    outline: red solid 1px;
} */
  